.main-nav_item {
  list-style: none;
  > a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;

    &:hover,
    &.active {
      @media (min-width: 40rem) {
        border-bottom: #fefffb 2px solid;
        border-radius: 4px;
      }
    }

    &:active {
      color: #ff6b58;
      border-color: #ff6b58;
    }
  }
}
