.bp-icon {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  
  > img {
    width: 2.5rem;
    height: 2.5rem;
  }
  > h1 {
    font-size: 1.9rem;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
  }
}
