@import "../../../styles/variables.scss";

$margin-sides: 0.5rem;

// small screens
$sm_scale-highlighted: 1.1;
$sm_item-width: 85vw;
$sm_item-height: calc(#{$sm_item-width} * 3 / 4);
$sm_item-width-highlighted: calc(#{$sm_item-width} * #{$sm_scale-highlighted});
$sm_item-height-highlighted: calc(
  #{$sm_item-height} * #{$sm_scale-highlighted}
);
$sm_item-margint-highlighted: calc(
  0px - (#{$sm_item-width-highlighted} - #{$sm_item-width}) / 2
);

// medium screens
$md_scale-highlighted: 1.3;
$md_item-width: 40vw;
$md_item-height: calc(#{$md_item-width} * 3 / 4);
$md_item-width-highlighted: calc(#{$md_item-width} * #{$md_scale-highlighted});
$md_item-height-highlighted: calc(
  #{$md_item-height} * #{$md_scale-highlighted}
);
$md_item-margint-highlighted: calc(
  0px - (#{$md_item-width-highlighted} - #{$md_item-width}) / 2
);

// large screens
$lg_scale-highlighted: 1.3;
$lg_item-width: 30vw;
$lg_item-height: calc(#{$lg_item-width} * 3 / 4);
$lg_item-width-highlighted: calc(#{$lg_item-width} * #{$lg_scale-highlighted});
$lg_item-height-highlighted: calc(
  #{$lg_item-height} * #{$lg_scale-highlighted}
);
$lg_item-margint-highlighted: calc(
  0px - (#{$lg_item-width-highlighted} - #{$lg_item-width}) / 2
);



.imagen-container {
  margin: 0 $margin-sides;

  .fog {
    position: absolute;
    z-index: 1;

    cursor: pointer;
    &.highlighted {
      z-index: 3;
    }
  }

  .fog,
  .img {
    min-width: $sm_item-width;
    max-width: $sm_item-width;
    min-height: $sm_item-height;
    max-height: $sm_item-height;

    @media (min-width: 40rem) {
      min-width: $md_item-width;
      max-width: $md_item-width;
      min-height: $md_item-height;
      max-height: $md_item-height;
    }

    @media (min-width: 60rem) {
      min-width: $lg_item-width;
      max-width: $lg_item-width;
      min-height: $lg_item-height;
      max-height: $lg_item-height;
    }
  }

  .img {
    position: relative;
    border-radius: 6px;
    box-shadow: 4px 4px 0.5rem 0.1rem rgb(0 0 0 / 50%);
    object-fit: cover;

    &.highlighted {
      z-index: 1;
    }
  }

  .highlighted {
    box-shadow: 20px 20px 1rem 0.1rem rgb(0 0 0 / 50%);
    z-index: 1;

    min-width: $sm_item-width-highlighted;
    max-width: $sm_item-width-highlighted;
    min-height: $sm_item-height-highlighted;
    max-height: $sm_item-height-highlighted;
    margin: 0 $sm_item-margint-highlighted;


    @media (min-width: 40rem) {
      min-width: $md_item-width-highlighted;
      max-width: $md_item-width-highlighted;
      min-height: $md_item-height-highlighted;
      max-height: $md_item-height-highlighted;
      margin: 0 $md_item-margint-highlighted;


    @media (min-width: 60rem) {
      min-width: $lg_item-width-highlighted;
      max-width: $lg_item-width-highlighted;
      min-height: $lg_item-height-highlighted;
      max-height: $lg_item-height-highlighted;
      margin: 0 $lg_item-margint-highlighted;
    }
  }
}
