.imagen-container {
  margin: 0.5rem;
}
.imagen-container .fog {
  position: absolute;
  padding: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  min-width: 85vw;
  max-width: 85vw;
  min-height: calc(85vw * 3 / 4);
  max-height: calc(85vw * 3 / 4);
}
@media (orientation: landscape) {
  .imagen-container .fog {
    min-width: calc(40vh * 4 / 3);
    max-width: calc(40vh * 4 / 3);
    min-height: 40vh;
    max-height: 40vh;
  }
}
.imagen-container .fog.highlighted {
  position: fixed;
  top: 3.5rem;
  right: 0px;
  min-width: 200vw;
  min-height: calc(100vh - 3.5rem);
  z-index: 0;
}
.imagen-container .img {
  position: relative;
  border-radius: 6px;
  object-fit: cover;
  box-shadow: 4px 4px 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  z-index: 1;
  min-width: 85vw;
  max-width: 85vw;
  min-height: calc(85vw * 3 / 4);
  max-height: calc(85vw * 3 / 4);
}
@media (orientation: landscape) {
  .imagen-container .img {
    min-width: calc(40vh * 4 / 3);
    max-width: calc(40vh * 4 / 3);
    min-height: 40vh;
    max-height: 40vh;
  }
}
.imagen-container .img.highlighted {
  box-shadow: 20px 20px 1rem 0.1rem rgba(0, 0, 0, 0.5);
  z-index: 3;
  min-width: calc(85vw * 1.12);
  max-width: calc(85vw * 1.12);
  min-height: calc(calc(85vw * 3 / 4) * 1.12);
  max-height: calc(calc(85vw * 3 / 4) * 1.12);
  margin: 0 calc(0px - (calc(85vw * 1.12) - 85vw) / 2);
}
@media (orientation: landscape) {
  .imagen-container .img.highlighted {
    min-width: calc(calc(40vh * 4 / 3) * 1.5);
    max-width: calc(calc(40vh * 4 / 3) * 1.5);
    min-height: calc(40vh * 1.5);
    max-height: calc(40vh * 1.5);
    margin: 0 calc(0px - (calc(calc(40vh * 4 / 3) * 1.5) - calc(40vh * 4 / 3)) / 2);
  }
}