.imagen-container {
  margin: 0 0.5rem;
}
.imagen-container .fog {
  position: absolute;
  z-index: 1;
  cursor: all-scroll;
}
.imagen-container .fog.highlighted {
  z-index: 3;
}
.imagen-container .fog,
.imagen-container .img {
  min-width: calc(calc((100vh - 3.5rem) / 2) * (4 / 3));
  max-width: calc(calc((100vh - 3.5rem) / 2) * (4 / 3));
  min-height: calc((100vh - 3.5rem) / 2);
  max-height: calc((100vh - 3.5rem) / 2);
}
.imagen-container .img {
  position: relative;
  border-radius: 6px;
  box-shadow: 4px 4px 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  object-fit: cover;
}
.imagen-container .img.highlighted {
  z-index: 1;
}
.imagen-container .highlighted {
  min-width: calc(calc(calc((100vh - 3.5rem) / 2) * (4 / 3)) * 1.2);
  max-width: calc(calc(calc((100vh - 3.5rem) / 2) * (4 / 3)) * 1.2);
  min-height: calc(calc((100vh - 3.5rem) / 2) * 1.2);
  max-height: calc(calc((100vh - 3.5rem) / 2) * 1.2);
  box-shadow: 20px 20px 1rem 0.1rem rgba(0, 0, 0, 0.5);
  margin: 0 calc(0px - (calc(calc(calc((100vh - 3.5rem) / 2) * (4 / 3)) * 1.2) - calc(calc((100vh - 3.5rem) / 2) * (4 / 3))) / 2);
  z-index: 1;
}