@import "../../../styles/variables.scss";

$item-height: calc((100vh - $header-height) / 2);
$item-width: calc(#{$item-height} * (4 / 3));

$scale-highlighted: 1.2;
$item-height-highlighted: calc(#{$item-height} * #{$scale-highlighted});
$item-width-highlighted: calc(#{$item-width} * #{$scale-highlighted});

.imagen-container {
  margin: 0 0.5rem;

  .fog {
    position: absolute;
    z-index: 1;

    cursor: all-scroll;
    &.highlighted {
      z-index: 3;
    }
  }

  .fog,
  .img {
    min-width: $item-width;
    max-width: $item-width;
    min-height: $item-height;
    max-height: $item-height;
  }

  .img {
    position: relative;
    border-radius: 6px;
    box-shadow: 4px 4px 0.5rem 0.1rem rgb(0 0 0 / 50%);
    object-fit: cover;

    &.highlighted {
      z-index: 1;
    }
  }

  .highlighted {
    min-width: $item-width-highlighted;
    max-width: $item-width-highlighted;
    min-height: $item-height-highlighted;
    max-height: $item-height-highlighted;
    box-shadow: 20px 20px 1rem 0.1rem rgb(0 0 0 / 50%);
    margin: 0 calc(0px - (#{$item-width-highlighted} - #{$item-width}) / 2);
    z-index: 1;
  }
}
