@import "../../../styles/variables.scss";

$sectionHeight: calc(100vh - $header-height);

.items-container {
  margin-top: $header-height;
  height: $sectionHeight;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
