@import "../../../styles/variables.scss";

$sectionHeight: calc(100vh - $header-height);

.items-container {
  margin-top: $header-height;
  height: $sectionHeight;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  .fog {
    position: absolute;
    height: $sectionHeight;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1;
  }
}
