.arrow-button {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 5rem;
  color: #d95642;
  z-index: 4;
}
.arrow-button > svg {
  position: relative;
  box-shadow: 10px 5px 5px #b94536;
  border: #d95642 1px solid;
  border-radius: 50%;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.1803921569);
  transition: none;
}
.arrow-button > svg:hover {
  background: #fef9e5;
}
.arrow-button > svg:active {
  color: #b94536;
  border: #b94536 1px solid;
  bottom: -2px;
  right: -4px;
  box-shadow: 6px 3px 5px #b94536;
}