@import "../../../styles/variables.scss";

.main {
    position: fixed;
    top: $header-height;
    display: flex;
    align-items: center;
    width: 100vw;
    height: calc(100vh - $header-height);
    background-color: #fef9e540
}