.imagen-container {
  margin: 0 0.5rem;
}
.imagen-container .fog {
  position: absolute;
  height: 100%;
  width: calc((100vh - 3.5rem) / 2 * 1.3333333333);
  z-index: 1;
  cursor: all-scroll;
}
.imagen-container .img {
  min-width: calc((100vh - 3.5rem) / 2 * 1.3333333333);
  max-width: calc((100vh - 3.5rem) / 2 * 1.3333333333);
  min-height: calc((100vh - 3.5rem) / 2);
  max-height: calc((100vh - 3.5rem) / 2);
  border-radius: 6px;
  box-shadow: 4px 4px 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  object-fit: cover;
}