.img {
  min-width: calc((100vh - 3.5rem) / 2 * 1.3333333333);
  max-width: calc((100vh - 3.5rem) / 2 * 1.3333333333);
  min-height: calc((100vh - 3.5rem) / 2);
  max-height: calc((100vh - 3.5rem) / 2);
  object-fit: cover;
  margin: 0 0.5rem;
  overflow: visible;
}