@import "../../../../styles/variables.scss";

$item-widht: calc(((100vh - $header-height) / 2) * (4 / 3));
$item-height: calc((100vh - $header-height) / 2);

.img {
  min-width: $item-widht;
  max-width: $item-widht;
  min-height: $item-height;
  max-height: $item-height;
  object-fit: cover;
  margin: 0 0.5rem;
  overflow: visible;
  box-shadow: 4px 4px 0.5rem 0.1rem rgb(0 0 0 / 50%);
  border-radius: 6px;
}
