.img {
  min-width: calc((100vh - 3.5rem) / 2 * 1.3333333333);
  max-width: calc((100vh - 3.5rem) / 2 * 1.3333333333);
  min-height: calc((100vh - 3.5rem) / 2);
  max-height: calc((100vh - 3.5rem) / 2);
  object-fit: cover;
  margin: 0 0.5rem;
  overflow: visible;
  box-shadow: 4px 4px 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}
.img.visible {
  border: red 4px solid;
  transform: scale(1.2);
  margin: 2rem;
}