@import "../../../styles/variables.scss";

.arrow-button {
    cursor: pointer;
    position: relative;
    border: none;
    font-size: 5rem;
    color: $color-2;
    z-index: 4;
    border-radius: 50%;
    box-shadow: 10px 5px 5px $color-3;
    border: $color-2 1px solid;
    background: $color-4;
    transition: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;

    &:hover {
        background: $color-1;
    }

    &:active {
        color: $color-3;
        border: $color-3 1px solid;
        bottom: -2px;
        right: -4px;
        box-shadow: 6px 3px 5px $color-3;
    }
}

.left-arrow {
    position: absolute;
    top: 5vh;
    left: 5vw;

    svg {
        position: relative;
        left: -0.1rem;
    }
}