@import "../../styles/global-vars.scss";

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: calc(100vh / 3);
  border: red 2px solid;
  display: flex;
  gap: 0.2rem;
  overflow-x: scroll;
}
