.main-items_container {
  width: 100%;
}
.main-items_container :global .react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}
.main-items_container :global .react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}