@import "../../../styles/variables.scss";

$sectionHeight: calc(100vh - $header-height);

.background-container {
  margin-top: $header-height;
  height: $sectionHeight;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}


