@import "../../../styles/variables.scss";

$item-widht: calc(((100vh - $header-height) / 3) * (4 / 3));

.img {
  min-width: $item-widht;
  max-width: $item-widht;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  // opacity: 0.85;
}
