.items-container {
  overflow: hidden;
  height: 100%;
}
.items-container > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.2rem;
  height: 100%;
  width: fit-content;
}
.items-container > ul > li {
  position: relative;
  display: inline-block;
  width: 44vh;
  height: 100%;
}
.items-container > ul > li > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 100vw));
  }
}