@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

body {
  font-family: "Open Sans", "Lato", sans-serif;
  background: #fef9e5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

#__next {
  min-width: 20rem;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-button:increment {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#d95642, #b94536);
  border-radius: 20px;
  border: 1px solid #b94536;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

.react-horizontal-scrolling-menu--wrapper {
  height: 100%;
}
.react-horizontal-scrolling-menu--wrapper .react-horizontal-scrolling-menu--inner-wrapper {
  height: 100%;
}
.react-horizontal-scrolling-menu--wrapper .react-horizontal-scrolling-menu--inner-wrapper .react-horizontal-scrolling-menu--scroll-container {
  height: 100%;
}