@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

body {
  font-family: "Open Sans", "Lato", sans-serif;
  background: #fef9e5;
  margin: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

#__next {
  min-width: 20rem;
  min-height: 20rem;
}

.react-horizontal-scrolling-menu--wrapper {
  height: 100%;
}
.react-horizontal-scrolling-menu--wrapper .react-horizontal-scrolling-menu--inner-wrapper {
  height: 100%;
}
.react-horizontal-scrolling-menu--wrapper .react-horizontal-scrolling-menu--inner-wrapper .react-horizontal-scrolling-menu--scroll-container {
  height: 100%;
}