@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

body {
  font-family: "Open Sans", "Lato", sans-serif;
  background: #fef9e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

#__next {
  min-width: 20rem;
}
